@import url(http://fonts.googleapis.com/css?family=Bevan);

/***** layout and responsive design mechanics *****/
body {
  margin: 1em auto;
  padding: 1em;
}

/* https://github.com/mrmrs/fluidity */
img, canvas, iframe, video, svg {
  max-width: 100%;
  margin-bottom: 2em;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 35em;
  }
}

/***** typography and font sizes ****/

html {
  font-family: georgia, serif;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 12px; }

@media only screen and (min-width: 1025px) {
  html { font-size: 24px; }
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
}

/***** basic look *****/
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover, a:active, a:focus {
  color: #700000;
}

ul {
  padding-left: 2em;
}

li {
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6, nav.site a {
  font-family: Bevan, georgia, serif;
  border-top: 2px solid black;
  margin-top: 2em;
  text-transform: uppercase;
}

/***** logo *****/

.logo {
  display: block;
  margin-bottom: 1em;
  max-width: 85%;
}

/***** navigation *****/
nav.site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav.site a {
  font-family: bevan, georgia, serif;
  text-transform: uppercase;
}

nav.secondary a {
  font-weight: bold;
  display: block;
  line-height: 2em;
  margin-left: 1em;
}

nav.secondary a:before {
  content: "\27A4  "
}

div.upcoming-show {
  margin-top: 1em;
  margin-bottom: 2em;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  color: grey;
  margin-bottom: 1em;
}

/* Copyright 2014 Gora Gora Orkestar. Created by Peter Lyons and Ian Campbell. */
