@import url(http://fonts.googleapis.com/css?family=Bevan);

body {
  font: 100%/1.4 Georgia, serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover, ul.nav a:active, ul.nav a:focus {
background: #FFFFFF;
color: #700000;
}

p {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: 80%;
  max-width: 1260px;
  min-width: 780px;
  margin: 0 auto;
  overflow: hidden;
}

.sidebar {
  float: right;
  width: 49%;
  background: #FFFFFF;
  padding-bottom: 10px;
}

.content {
  width: 49%;
  float: left;
  background: #FFFFFF;
  padding-bottom: 10px;
}

nav > img {
  display: block;
  margin-bottom: 10px;
}

nav {
  font-family: Bevan, georgia, serif;
  margin-bottom: 30px;
}

nav a {
  color: black;
  font-weight: bold;
  margin-left: 1em;
}

nav a:hover, ul.nav a:active, ul.nav a:focus {
background: #FFFFFF;
color: #700000;
}

h1, h2, h3 {
  font-family: Bevan, georgia, serif;
  border-top: 2px solid black;
  margin-top: 25px;
  text-transform: uppercase;
}

h1 { font-size: 150% }
h2 { font-size: 125% }
h3 { font-size: 110% }

ul, ol, dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-left: 15px;
}

div.upcoming-show {
  margin-top: 1em;
  margin-bottom: 2em;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  color: grey;
}

// Copyright 2014 Gora Gora Orkestar. Created by Peter Lyons and Ian Campbell.
