@import url(http://fonts.googleapis.com/css?family=Bevan);

body {
  font: 100%/1.4 Georgia, serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover, ul.nav a:active, ul.nav a:focus {
  background: white;
  color: #700000;
}

.subnav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
}

.subnav .block {
  margin-right: 2em;
}

.content {
  /*display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;*/
  max-width: 40em;
  padding: 2em;
  margin: 0 auto
}

/*.content > * {
  max-width: 80%;
}*/

p {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav > img {
  display: block;
  margin-bottom: 10px;
}

nav {
  font-family: Bevan, georgia, serif;
  margin-bottom: 30px;
}

nav a {
  color: black;
  font-weight: bold;
  margin-left: 2em;
}

nav > .links {
  margin-top: 1em;
}

nav a:hover, ul.nav a:active, ul.nav a:focus {
  background: white;
  color: #700000;
}

h1, h2, h3, nav a {
  font-family: Bevan, georgia, serif;
  border-top: 2px solid black;
  margin-top: 25px;
  text-transform: uppercase;
}

h1 { font-size: 150% }
h2 { font-size: 125% }
h3 { font-size: 110% }

ul, ol, dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-left: 15px;
}

.column {
  margin: 0 auto;
  max-width: 40em;
  padding: 0 2em;
}

.shows {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}

div.upcoming-show {
  margin-top: 1em;
  margin-bottom: 2em;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  color: grey;
  margin-bottom: 1em;
}

// Copyright 2014 Gora Gora Orkestar. Created by Peter Lyons and Ian Campbell.
