extends layout
block append header
    link(rel='icon', type='image/png', href='http://www.goragora.org/favicon.png')
block append body
  h2 
    img(src='/gora_gora_orkestar__logo_v2_bw__wide_250h.png')
    hr
    hr
  h2
    | SOCIAL: 
    | <a href="https://www.facebook.com/GoraGoraOrkestar">Facebook</a> 
    | / 
    | <a href="https://twitter.com/goragoraork">Twitter</a> 
    | / 
    | <a href="http://www.reverbnation.com/goragoraorkestar">ReverbNation</a>
    | / 
    | <a href="https://soundcloud.com/goragoraorkestar">SoundCloud</a>
    hr
    | BOOKING/PRESS: 
    | <a href="mailto:goragoraorkestar@gmail.com">Contact</a> 
    | / 
    | <a href="/ggo_epk_september2013_v3.pdf">Electronic Press Kit</a>
    | / 
    | <a href="/ggo_stage_plot_v4.pdf">Stage Plot</a>
    hr
    hr
  iframe(width='100%', height='450', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F6602692&color=424242&auto_play=false&show_artwork=true')
  != page.html
  hr
  hr
  h2 UPCOMING SHOWS
    p
      | - October 10th through October 13th 2013: Honk!Fest (Somerville, MA)
      br
      | - October 19th 2013, 12:30pm: Aurora Fall Festival (Aurora, CO)
      br
      | - November 2nd 2013, 8:00pm: The Oriental Theater (Denver, CO) 
      br
      | - November 30th 2013, 8:00pm: The Mercury Cafe (Denver, CO)
      hr
  h2 MUSICIANS
    p 
      | TRUMPET: Tung Pham, Alice Hansen
      br
      | SAXOPHONE: Pete Lyons, Ian Rictor
      br
      | TROMBONE: John Jonas, Breana Cowart
      br
      | SOUSAPHONE: Michael Silverstein
      br
      | CLARINET: Maggie Greenwood
      br
      | TENOR HORN: Sandy Johnson
      br
      | DRUMS: Mike Righi, Ian Campbell
      br
      | VOCALS: Kate Jaworski
      hr
  h2 BIOGRAPHY
    p Gora Gora Orkestar brings the sounds of the Balkans to the Rockies with high energy performances. Formed in the fall of 2009, this 10 piece brass band is dedicated to making the audience dance with its infectious rhythm and own brand of feel-good music. The sound is an eclectic mix, blending Old World melodies of Eastern European folk, with the back beat of American funk and the sultry sway of South American tango into a genre coined “Brass-Hop”.
    p This happy caravan of musicians is comprised of seasoned veterans in the performance, education, and composition of music. The “Infinite Swag” EP was released in 2011 featuring five of Gora Gora Orkestar’s most recognizable tunes with a follow-up record slated for release in 2014.
    p Gora Gora Orkestar has maintained a busy performance schedule which includes local and national music festivals along with headlining shows at a wide variety of venues. Community outreach is also a big part of the Gora Gora Orkestar mission as they have visited many public schools, performed for local 5k marathons and continue to participate in fund-raising for local businesses.
    hr
  h2 PAST SHOWS (National)
    p 
      | - Honk! TX (Austin, TX)
      br
      | - Honk! Fest (Boston, MA)
      br
      | - Spider House Cafe (Austin, TX)
      br
      | - Redbones (Boston, MA)
      br 
      | - Russian House (Austin, TX)
      br 
      | - Snack Bar (Austin, TX)
      br
      | - Trudy’s (Austin, TX)
      hr
  h2 PAST SHOWS (Local)
    p 
      | - Underground Music Showcase
      br 
      | - Taste Of Colorado
      br 
      | - Northwest Denver Folk Festival
      br
      | - Boulder Creek Festival
      br
      | - Denver St. Patrick’s Day Parade
      br
      | - Green Spaces Festival
      br
      | - Colorado Shakespeare Festival
      br
      | - Orthodox Food Festival
      br
      | - CU Russian Festival
      br
      | - Village Arts Coalition Festival
      br
      | - Aurora Arts Festival
      br
      | - 29th Street Live!
      br
      | - Dickens Opera House
      br
      | - Mercury Café
      br
      | - Walnut Room
      br
      | - D Note
      br
      | - Bohemian Biergarten
      br
      | - Comfort Café
      br
      | - Laughing Goat
      br
      | - Leela European Café
      br
      | - Left Hand Brewery
      br
      | - Pumphouse Brewery
      br
      | - Road 34
      br
      | - Waterloo Icehouse
      hr
  p
    br 
    hr
    | Copyright 2013 Gora Gora Orkestar.
//test comment
