extends layout
block append header
  h1= page.title
block append body
  h2 
    img(src='/gora_gora_orkestar__logo__bw315.png')
  h2
    | .: 
    | <a href="https://www.facebook.com/GoraGoraOrkestar">Facebook</a> 
    | .: 
    | <a href="https://twitter.com/goragoraork">Twitter</a> 
    | .: 
    | <a href="http://www.reverbnation.com/goragoraorkestar">ReverbNation</a>
    | .: 
    | <a href="https://soundcloud.com/goragoraorkestar">SoundCloud</a>
    | .: 
    | <a href="mailto:goragoraorkestar@gmail.com">Contact</a> 
    | .: 
    | Electronic Press Kit 
    | .: 
    | Stage Plot
  iframe(width='100%', height='450', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F6602692&color=424242&auto_play=false&show_artwork=true')
  != page.html

  h2 Biography
    p Gora Gora Orkestar brings the sounds of the Balkans to the Rockies with high energy performances. Formed in the fall of 2009, this 10 piece brass band is dedicated to making the audience dance with its infectious rhythm and own brand of feel-good music. The sound is an eclectic mix, blending Old World melodies of Eastern European folk, with the back beat of American funk and the sultry sway of South American tango into a genre coined “Brass-Hop”.
    p This happy caravan of musicians is comprised of seasoned veterans in the performance, education, and composition of music. The “Infinite Swag” EP was released in 2011 featuring five of Gora Gora Orkestar’s most recognizable tunes with a follow-up record slated for release in 2014.
    p Gora Gora Orkestar has maintained a busy performance schedule which includes local and national music festivals along with headlining shows at a wide variety of venues. Community outreach is also a big part of the Gora Gora Orkestar mission as we have visited many public schools, performed for local 5k marathons and continue to participate in fund-raising for local businesses.

  h2 Upcoming Shows
    p 
      | Honk!Fest: Thursday, October 10 - Sunday, October 13 2013 [Somerville, MA]
      br
      | Aurora Fall Festival: Saturday, October 19, 2013 at 12:30pm [Aurora, CO]
    
  h2 Past Shows (National)
    p 
      | Honk! TX (Austin, TX)
      br
      | Honk! Fest (Boston, MA)
      br
      | Spider House Cafe (Austin, TX)
      br
      | Redbones (Boston, MA)
      br 
      | Russian House (Austin, TX)
      br 
      | Snack Bar (Austin, TX)
      br
      | Trudy’s (Austin, TX)

  h2 Past Shows (Local)
    p 
      | Underground Music Showcase
      br 
      | Taste Of Colorado
      br 
      | Northwest Denver Folk Festival
      br
      | Boulder Creek Festival
      br
      | Denver St. Patrick’s Day Parade
      br
      | Green Spaces Festival
      br
      | Colorado Shakespeare Festival
      br
      | Orthodox Food Festival
      br
      | CU Russian Festival
      br
      | Village Arts Coalition Festival
      br
      | Aurora Arts Festival
      br
      | 29th Street Live!
      br
      | Dickens Opera House
      br
      | Mercury Café
      br
      | Walnut Room
      br
      | D Note
      br
      | Bohemian Biergarten
      br
      | Comfort Café
      br
      | Laughing Goat
      br
      | Leela European Café
      br
      | Left Hand Brewery
      br
      | Pumphouse Brewery
      br
      | Road 34
      br
      | Waterloo Icehouse
    
  p
    br 
    | Copyright 2013 Gora Gora Orkestar.
  
  //a commment
