extends layout
block append body

  h2 Listen
  iframe(height="350" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/13897132&color=000000&auto_play=false&show_artwork=true")

  h2 Social
  nav.secondary
    a(href="https://www.facebook.com/GoraGoraOrkestar" target="_blank") Facebook
    a(href="https://twitter.com/goragoraork" target="_blank") Twitter
    a(href="http://www.reverbnation.com/goragoraorkestar" target="_blank") ReverbNation
    a(href="https://soundcloud.com/goragoraorkestar" target="_blank") SoundCloud

  h2 Booking & Press
  nav.secondary
    a(href="mailto:goragoraorkestar@gmail.com") Contact
    a(href="/ggo_epk_september2013_v3.pdf", target="_blank") Electronic Press Kit
    a(href="/ggo_stage_plot_v10.pdf", target="_blank") Stage Plot

  h2 Watch
  iframe(height="350" allowfullscreen="" src="https://www.youtube.com/embed/FLksiF9dHpk")
  p
    a(href="/media") More Videos

  h2 Subscribe to Our Mailing List
  include mailchimp.html

  h2 Biography

  p Gora Gora Orkestar brings the sounds of the World to the Rockies with high energy performances. Formed in the fall of 2009, this 10 piece brass band is dedicated to making the audience dance with its infectious rhythm and own brand of feel-good music. The sound is an eclectic mix, blending Old World melodies of Eastern European Balkan folk and New Orleans second-line, with the back beat of American funk and the sultry sway of South American tango.

  p This happy caravan of musicians is comprised of seasoned veterans in the performance, education, and composition of music. The band has released two EP recordings, "2015" and “Infinite Swag”, with a follow-up record slated for release in 2016.

  p Gora Gora Orkestar maintains a busy performance schedule which includes national and local music festivals along with headlining shows at a wide variety of venues. Community outreach is also a big part of the Gora Gora Orkestar mission including visits to many public schools, fund-raising for local businesses, and social-justice movement support.

  h2 Musicians
  ul
    li TRUMPET: Tung Pham, Alice Hansen
    li SAXOPHONE: 
      a(href="http://www.peterlyons.com" target="_blank") Pete Lyons
      |, Stephen Angus
    li TROMBONE: John Jonas, Breana Cowart
    li SOUSAPHONE: 
      a(href="http://www.benfausch.com/" target="_blank") Ben Fausch
    li DRUMS: Adam Loudermilk, Vic Stauffenberg
    li VOCALS: Kelly Maxwell
