doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= page.title + " | Gora Gora Orkestar"
    meta(name="keywords", content="live music, balkan, brass band, trumpet, trombone, horns, brass, live band, second line, funk, gora, orkestar, orkestra")
    meta(name="author", content="Ian Campbell, Peter Lyons")
    meta(name="description", content="GORA GORA ORKESTAR: Balkan | Roma | Funk | Second Line ... Colorado’s Premier Brass Band!")
    link(rel="stylesheet", href="/screen.css")
    link(href="/favicon.png", type="image/x-icon", rel="icon")
    link(href="/favicon.png", type="image/x-icon", rel="shortcut icon")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Bevan', rel='stylesheet', type='text/css')
  body
    .container
      nav
        img(alt="Gora Gora Orkestar", src="/gora_gora_orkestar__logo_v2_bw__wide_250h.png")
        | SOCIAL: 
        a(href="https://www.facebook.com/GoraGoraOrkestar", target="_blank") Facebook
        a(href="https://twitter.com/goragoraork", target="_blank") Twitter
        a(href="http://www.reverbnation.com/goragoraorkestar", target="_blank") ReverbNation
        a(href="https://soundcloud.com/goragoraorkestar", target="_blank") SoundCloud
        hr
        | BOOKING &amp; PRESS INFORMATION: 
        a(href="mailto:goragoraorkestar@gmail.com") Contact
        a(href="/ggo_epk_september2013_v3.pdf") Electronic Press Kit
        a(href="/ggo_stage_plot_v6.pdf") Stage Plot
      block body
        sidebar
          h1 UPCOMING SHOWS
          ul
            li New Years Eve: December 31st 2013: <a href="http://mercurycafe.com" target="_blank">The Mercury Cafe</a> (Denver, CO) | <a href="http://www.goragora.org/mecrury_cafe__31december2013.pdf" target="_blank">Event Flier</a>
            li _
            li March 20th - 23rd 2014: <a href="http://www.honktx.org" target="_blank">Honk!TX</a> (Austin, TX)
      footer Copyright 2013 Gora Gora Orkestar. Website created by <a href="http://www.peterlyons.com" target="_blank">Peter Lyons</a> and <a href="http://www.afterpostmodernism.com" target="_blank">Ian Campbell</a>.
