doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= page.title + " | Gora Gora Orkestar"
    meta(name="keywords", content="live music, balkan, brass band, trumpet, trombone, horns, brass, live band, second line, funk, gora, orkestar, orkestra")
    meta(name="author", content="Ian Campbell, Peter Lyons")
    meta(name="description", content="GORA GORA ORKESTAR: Balkan | Roma | Funk | Second Line ... Colorado’s Premier Brass Band!")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/screen.css")
    link(href="/favicon.png", type="image/x-icon", rel="icon")
    link(href="/favicon.png", type="image/x-icon", rel="shortcut icon")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Bevan', rel='stylesheet', type='text/css')
    style(type="text/css").
      #mc_embed_signup {background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  body
    img.logo(alt="Gora Gora Orkestar", src="/gora_gora_orkestar__logo_v2_bw__wide_250h.png")
    nav.site
      a(href="/") Home
      a(href="/shows") Shows
      a(href="/media") Media
    block body
    footer
      p Copyright 2018 Gora Gora Orkestar.
      p Website created by <a href="http://www.peterlyons.com" target="_blank">Peter Lyons</a> and <a href="http://www.afterpostmodernism.com" target="_blank">Ian Campbell</a>.
