doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= page.title + " | Gora Gora Orkestar"
    meta(name="keywords", content="live music, balkan, brass band, trumpet, trombone, horns, brass, live band, second line, funk, gora, orkestar, orkestra")
    meta(name="author", content="Ian Campbell, Peter Lyons")
    meta(name="description", content="GORA GORA ORKESTAR: Balkan | Roma | Funk | Second Line ... Colorado’s Premier Brass Band!")
    link(rel="stylesheet", href="/screen.css")
    link(href="/favicon.png", type="image/x-icon", rel="icon")
    link(href="/favicon.png", type="image/x-icon", rel="shortcut icon")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Bevan', rel='stylesheet', type='text/css')
  body
    .container
      nav
        img(alt="Gora Gora Orkestar", src="/gora_gora_orkestar__logo_v2_bw__wide_250h.png")
        hr
      .sidebar
        h3 UPCOMING SHOWS
        ul
          li.
            January 18, 2016 9 AM -
            <a href="http://www.denver.org/includes/calendar-of-events/Martin-Luther-King-Marade-March-and-Parade-/842/">MLK Marade</a>
            at City Park (17th Ave. &amp; Colorado Blvd), Denver, CO
          li April 1-3, 2016 - <a href="http://honktx.org/" target="_blank">Honk!TX</a> in Austin, Texas
          li April 3, 2016 12-3 PM - <a href="http://www.bangersaustin.com/" target="_blank">Bangers Sausage House and Beer Garden</a> in Austin, Texas
        h3 SOCIAL
        ul
          li <a href="https://www.facebook.com/GoraGoraOrkestar", target="_blank">&#10148; Facebook</a>
          li <a href="https://twitter.com/goragoraork", target="_blank">&#10148; Twitter</a>
          li <a href="http://www.reverbnation.com/goragoraorkestar", target="_blank">&#10148; ReverbNation</a>
          li <a href="https://soundcloud.com/goragoraorkestar", target="_blank">&#10148; SoundCloud</a>
        h3 BOOKING &amp; PRESS INFORMATION
        ul
          li <a href="mailto:goragoraorkestar@gmail.com">&#10148; Contact</a>
          li <a href="/ggo_epk_september2013_v3.pdf", target="_blank">&#10148; Electronic Press Kit</a>
          li <a href="/ggo_stage_plot_v10.pdf", target="_blank">&#10148; Stage Plot</a>
        h3 MUSICIANS
        ul
          li TRUMPET: Tung Pham, Alice Hansen
          li SAXOPHONE: <a href="http://www.peterlyons.com" target="_blank">Pete Lyons</a>, Stephen Angus
          li TROMBONE: John Jonas, Breana Cowart
          li SOUSAPHONE: <a href="http://www.benfausch.com/" target="_blank">Ben Fausch</a>
          li DRUMS: <a href="http://www.afterpostmodernism.com" target="_blank">Ian Campbell</a>, Adam Loudermilk
          li VOCALS: Kelly Maxwell
        h3 SELECT PAST SHOWS (National)
        ul
          li <a href="http://honkfest.org/" target="_blank">Honk! Festival 2015 (Boston, MA)</a>
          li <a href="http://honkfestwest.com/" target="_blank">Honk! Fest West 2015 (Seattle, WA)</a>
          li <a href="http://honkfestwest.com/" target="_blank">Honk! Fest West 2014 (Seattle, WA)</a>
          li <a href="http://www.studioseven.us/" target="_blank">Studio 7 (Seattle, WA)</a> (2014)
          li <a href="http://halesbrewery.com/" target="_blank">Hale's Palladium (Seattle, WA)</a> (2014)
          li <a href="http://themixseattle.com/" target="_blank">The Mix (Seattle, WA)</a> (2014)
          li <a href="http://nectarlounge.com" target="_blank">Nectar Lounge (Seattle, WA)</a> (2014)
          li <a href="http://www.analogpdx.com/" target="_blank">Analog Cafe (Portland, OR)</a> (2014)
          li <a href="http://www.honktx.org/" target="_blank">Honk! TX 2014 (Austin, TX)</a>
          li <a href="http://honkfest.org/" target="_blank">Honk! Fest 2013 (Boston, MA)</a>
          li <a href="http://www.honktx.org/" target="_blank">Honk! TX 2013 (Austin, TX)</a>
          li <a href="http://honkfest.org/" target="_blank">Honk! Fest 2012 (Boston, MA)</a>
          li <a href="http://www.austintheatre.org" target="_blank">Paramount Theater (Austin, TX)</a> (2014)
          li <a href="https://www.facebook.com/volsteadlounge" target="_blank">Volstead Lounge (Austin, TX)</a> (2014)
          li <a href="http://spiderhousecafe.com/" target="_blank">Spider House Cafe (Austin, TX)</a> (2014, 2013)
          li <a href="http://russianhouseofaustin.com/" target="_blank">Russian House (Austin, TX)</a> (2013)
          li <a href="http://www.snackbaraustin.com/" target="_blank">Snack Bar (Austin, TX)</a> (2014, 2013)
          li <a href="http://www.trudys.com/" target="_blank">Trudy’s (Austin, TX)</a> (2014, 2013)
          li <a href="https://www.redbones.com/" target="_blank">Redbones (Boston, MA)</a> (2012)
        h3 SELECT PAST SHOWS (Colorado)
        ul
          li New Year's Even 2015 at the Mercury Cafe in (Denver, CO)
          li <a href="http://picknhoe.com/index.html" target="_blank">Dove Creek Pick 'n Hoe (Dove Creek, CO)</a> (2015)
          li <a href="http://www.opheliasdenver.com/" target="_blank">Ophelia's Electric Soapbox</a> (2015)
          li <a href="http://www.theums.com/" target="_blank">Underground Music Showcase</a> (2013, 2014)
          li <a href="http://tasteoffortcollins.com/" target="_blank">Taste Of Fort Collins</a> (2014)
          li <a href="http://www.atasteofcolorado.com/" target="_blank">Taste Of Colorado</a> (2014)
          li <a href="http://www.theorientaltheater.com/event/132453" target="_blank">Northwest Denver Folk Festival</a> (2013)
          li <a href="http://www.bceproductions.com/boulder-creek-festival/" target="_blank">Boulder Creek Festival</a> (2013)
          li <a href="http://www.denverstpatricksdayparade.com/" target="_blank">Denver St. Patrick’s Day Parade</a> (2013)
          li <a href="http://www.coloradoshakes.org/" target="_blank">Colorado Shakespeare Festival</a>
          li <a href="http://www.villageartscoalition.org/" target="_blank">Village Arts Coalition Festival</a> (2013)
          li <a href="http://www.bceproductions.com/twenty-ninth-street-live/" target="_blank">29th Street Live!</a>
          li <a href="http://dickensoperahouse.com/" target="_blank">Dickens Opera House</a>
          li <a href="http://mercurycafe.com" target="_blank">The Mercury Cafe</a> (2012, 2013)
          li <a href="http://www.thewalnutroom.com/" target="_blank">Walnut Room</a> (2013)
          li <a href="http://www.theorientaltheater.com/" target="_blank">The Oriental Theater</a> (2013)
          li <a href="http://www.meadowlarkbar.com/" target="_blank">The Meadowlark</a> (2014)
          li <a href="http://www.dnote.us/" target="_blank">D Note</a>
          li <a href="http://bohemianbiergarten.com/" target="_blank">Bohemian Biergarten</a> (2013, 2014)
          li <a href="http://www.hornetrestaurant.com" target="_blank">The Hornet</a> (2014)
          li <a href="http://www.themarquistheatre.com/" target="_blank">The Marquis Theater</a> (2014)
          li <a href="http://www.waterloolouisville.com" target="_blank">The Waterloo</a> (2014)
          li <a href="http://www.anythinklibraries.org/backyard-concert-series" target="_blank">Anythink Backyard Concert Series</a> (2014)
          li <a href="http://www.tasteoffortcollins.com/music" target="_blank">Taste of Fort Collins</a> (2014)
          li <a href="http://www.thecomfortcafe.net/" target="_blank">Comfort Café</a>
          li <a href="http://thelaughinggoat.com/" target="_blank">Laughing Goat</a>
          li <a href="http://www.leelacafe.com/" target="_blank">Leela's European Café</a>
          li <a href="www.lefthandbrewing.com/" target="_blank">Left Hand Brewery</a>
          li <a href="http://www.pumphousebrewery.com/" target="_blank">Pumphouse Brewery</a>
          li <a href="http://www.road34.com/" target="_blank">Road 34</a>
          li <a href="http://waterloolouisville.com/" target="_blank">Waterloo Icehouse</a>
          li Orthodox Food Festival (2013, 2014)
          li Green Spaces Festival (2013)
          li CU Russian Festival
          li Aurora Arts Festival (2013)
          li Aurora Fall Festival (2013, 2014)
      .content
        block body
    footer Copyright 2015 Gora Gora Orkestar. Website created by <a href="http://www.peterlyons.com" target="_blank">Peter Lyons</a> and <a href="http://www.afterpostmodernism.com" target="_blank">Ian Campbell</a>.
