doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= page.title + " | Gora Gora Orkestar"
    meta(name="keywords", content="live music, balkan, brass band, trumpet, trombone, horns, brass, live band, second line, funk")
    meta(name="author", content="Ian Campbell, Peter Lyons")
    meta(name="description", content="GORA GORA ORKESTAR: Balkan | Roma | Funk | Second Line ... Colorado’s Premier Brass Band!")
    link(rel="stylesheet", href="/screen.css")
    link(href="/favicon.png", type="image/x-icon", rel="icon")
    link(href="/favicon.png", type="image/x-icon", rel="shortcut icon")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Ewert', rel='stylesheet', type='text/css')
  body
    .container
      nav
        img(alt="Gora Gora Orkestar", src="/gora_gora_orkestar__logo_v2_bw__wide_250h.png")
        | SOCIAL: a(href="https://www.facebook.com/GoraGoraOrkestar")Facebook a(href="https://twitter.com/goragoraork")Twitter a(href="http://www.reverbnation.com/goragoraorkestar")ReverbNation a(href="https://soundcloud.com/goragoraorkestar")SoundCloud
        hr
        | BOOKING &amp; PRESS: a(href="mailto:goragoraorkestar@gmail.com")Contact a(href="/ggo_epk_september2013_v3.pdf")Electronic Press Kit a(href="/ggo_stage_plot_v4.pdf")Stage Plot
      block body
      footer Copyright 2013 Gora Gora Orkestar
