doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= page.title + " | Gora Gora Orkestar"
    meta(name="keywords", content="")
    meta(name="author", content="Ian Campbell, Peter Lyons")
    meta(name="description", content="Brass Band performing live music from many folk styles")
    link(rel="stylesheet", href="/screen.css")
    link(href="/favicon.ico", type="image/x-icon", rel="icon")
    link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
  body
    header.container
      block header
    .container
      nav
      block body
