doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= page.title + " | Gora Gora Orkestar"
    meta(name="keywords", content="live music, balkan, brass band, trumpet, trombone, horns, brass, live band, second line, funk, gora, orkestar, orkestra")
    meta(name="author", content="Ian Campbell, Peter Lyons")
    meta(name="description", content="GORA GORA ORKESTAR: Balkan | Roma | Funk | Second Line ... Colorado’s Premier Brass Band!")
    link(rel="stylesheet", href="/screen.css")
    link(href="/favicon.png", type="image/x-icon", rel="icon")
    link(href="/favicon.png", type="image/x-icon", rel="shortcut icon")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Bevan', rel='stylesheet', type='text/css')
  body
    .container
      nav
        img(alt="Gora Gora Orkestar", src="/gora_gora_orkestar__logo_v2_bw__wide_250h.png")
        hr
      .sidebar
        h3 UPCOMING SHOWS
        div.upcoming-show.
          <a href="http://honktx.org/" target="_blank">Honk!TX</a><br>
          April 1-3, 2016<br>
          Austin, TX<br>
          Free, all ages<br>
        div.upcoming-show.
          <a href="http://www.bangersaustin.com/" target="_blank">Banger's Sausage House & Beer Garden</a><br>
          April 3, 2016 from 12-3 p.m.<br>
          79 & 81 Rainey St., Austin, TX 78701<br>
          No cover, 21+<br>
        h3 SOCIAL
        ul
          li <a href="https://www.facebook.com/GoraGoraOrkestar", target="_blank">&#10148; Facebook</a>
          li <a href="https://twitter.com/goragoraork", target="_blank">&#10148; Twitter</a>
          li <a href="http://www.reverbnation.com/goragoraorkestar", target="_blank">&#10148; ReverbNation</a>
          li <a href="https://soundcloud.com/goragoraorkestar", target="_blank">&#10148; SoundCloud</a>
        h3 BOOKING &amp; PRESS INFORMATION
        ul
          li <a href="mailto:goragoraorkestar@gmail.com">&#10148; Contact</a>
          li <a href="/ggo_epk_september2013_v3.pdf", target="_blank">&#10148; Electronic Press Kit</a>
          li <a href="/ggo_stage_plot_v10.pdf", target="_blank">&#10148; Stage Plot</a>
        h3 MUSICIANS
        ul
          li TRUMPET: Tung Pham, Alice Hansen
          li SAXOPHONE: <a href="http://www.peterlyons.com" target="_blank">Pete Lyons</a>, Stephen Angus
          li TROMBONE: John Jonas, Breana Cowart
          li SOUSAPHONE: <a href="http://www.benfausch.com/" target="_blank">Ben Fausch</a>
          li DRUMS: <a href="http://www.afterpostmodernism.com" target="_blank">Ian Campbell</a>, Adam Loudermilk
          li VOCALS: Kelly Maxwell
        h3 SELECT PAST SHOWS (National)
        h4 2015
        ul
          li <a href="http://honkfest.org/" target="_blank">Honk! Festival (Boston, MA)</a>
          li <a href="http://honkfestwest.com/" target="_blank">Honk! Fest West (Seattle, WA)</a>
          li <a href="http://nectarlounge.com" target="_blank">Nectar Lounge (Seattle, WA)</a>
        h4 2014
        ul
          li <a href="http://honkfestwest.com/" target="_blank">Honk! Fest West (Seattle, WA)</a>
          li <a href="http://www.studioseven.us/" target="_blank">Studio 7 (Seattle, WA)</a>
          li <a href="http://halesbrewery.com/" target="_blank">Hale's Palladium (Seattle, WA)</a>
          li <a href="http://themixseattle.com/" target="_blank">The Mix (Seattle, WA)</a>
          li <a href="http://nectarlounge.com" target="_blank">Nectar Lounge (Seattle, WA)</a>
          li <a href="http://www.analogpdx.com/" target="_blank">Analog Cafe (Portland, OR)</a>
          li <a href="http://www.honktx.org/" target="_blank">Honk! TX (Austin, TX)</a>
          li <a href="http://spiderhousecafe.com/" target="_blank">Spider House Cafe (Austin, TX)</a>
          li <a href="http://www.snackbaraustin.com/" target="_blank">Snack Bar (Austin, TX)</a>
          li <a href="http://www.trudys.com/" target="_blank">Trudy’s (Austin, TX)</a>
        h4 2013
        ul
          li <a href="http://honkfest.org/" target="_blank">Honk! Fest (Boston, MA)</a>
          li <a href="http://www.honktx.org/" target="_blank">Honk! TX (Austin, TX)</a>
          li <a href="http://www.austintheatre.org" target="_blank">Paramount Theater (Austin, TX)</a>
          li <a href="https://www.facebook.com/volsteadlounge" target="_blank">Volstead Lounge (Austin, TX)</a>
          li <a href="http://spiderhousecafe.com/" target="_blank">Spider House Cafe (Austin, TX)</a>
          li <a href="http://russianhouseofaustin.com/" target="_blank">Russian House (Austin, TX)</a>
          li <a href="http://www.snackbaraustin.com/" target="_blank">Snack Bar (Austin, TX)</a>
          li <a href="http://www.trudys.com/" target="_blank">Trudy’s (Austin, TX)</a>
        h4 2012
        ul
          li <a href="http://honkfest.org/" target="_blank">Honk! Fest (Boston, MA)</a>
          li <a href="https://www.redbones.com/" target="_blank">Redbones (Boston, MA)</a>
          
        h3 SELECT PAST SHOWS (Local)
        h4 2016
        ul
          li <a href="http://www.denver.org/includes/calendar-of-events/Martin-Luther-King-Marade-March-and-Parade-/842/">MLK Marade</a> (Denver, CO)
        h4 2015
        ul
          li <a href="http://mercurycafe.com/" target="_blank">Mercury Cafe</a> (Denver, CO)
          li <a href="http://picknhoe.com/index.html" target="_blank">Dove Creek Pick 'n Hoe</a> (Dove Creek, CO)
          li <a href="http://www.opheliasdenver.com/" target="_blank">Ophelia's Electric Soapbox</a> (Denver, CO)
          li <a href="http://bohemianbiergarten.com/" target="_blank">Bohemian Biergarten</a> (Boulder, CO)
          li Aurora Fall Festival (Aurora, CO)
        h4 2014
        ul
          li <a href="http://www.theums.com/" target="_blank">Underground Music Showcase</a> (Denver, CO)
          li <a href="http://tasteoffortcollins.com/" target="_blank">Taste Of Fort Collins</a> (Fort Collins, CO)
          li <a href="http://www.atasteofcolorado.com/" target="_blank">Taste Of Colorado</a> (Denver, CO)
          li <a href="http://www.meadowlarkbar.com/" target="_blank">The Meadowlark</a> (Denver, CO)
          li <a href="http://bohemianbiergarten.com/" target="_blank">Bohemian Biergarten</a> (Boulder, CO)
          li <a href="http://www.hornetrestaurant.com" target="_blank">The Hornet</a> (Denver, CO)
          li <a href="http://www.themarquistheatre.com/" target="_blank">The Marquis Theater</a> (Denver, CO)
          li <a href="http://www.waterloolouisville.com" target="_blank">The Waterloo</a> (Louisville, CO)
          li <a href="http://www.anythinklibraries.org/backyard-concert-series" target="_blank">Anythink Backyard Concert Series</a> (Brighton, CO)
          li Orthodox Food Festival (Denver, CO)
          li Aurora Fall Festival (Aurora, CO)
        h4 2013
        ul
          li <a href="http://www.theums.com/" target="_blank">Underground Music Showcase</a> (Denver, CO)
          li <a href="http://www.theorientaltheater.com/event/132453" target="_blank">Northwest Denver Folk Festival</a> (Denver, CO)
          li <a href="http://www.bceproductions.com/boulder-creek-festival/" target="_blank">Boulder Creek Festival</a> (Boulder, CO)
          li <a href="http://www.denverstpatricksdayparade.com/" target="_blank">Denver St. Patrick’s Day Parade</a> (Denver, CO)
          li <a href="http://mercurycafe.com/" target="_blank">Mercury Cafe</a> (Denver, CO)
          li <a href="http://www.thewalnutroom.com/" target="_blank">Walnut Room</a> (Denver, CO)
          li <a href="http://bohemianbiergarten.com/" target="_blank">Bohemian Biergarten</a> (Boulder, CO)
          li <a href="http://www.theorientaltheater.com/" target="_blank">The Oriental Theater</a> (Denver, CO)
          li <a href="http://www.villageartscoalition.org/" target="_blank">Village Arts Coalition Festival</a> (Boulder, CO)
          li Orthodox Food Festival (Denver, CO)
          li Aurora Arts Festival (Aurora, CO)
          li Aurora Fall Festival (Aurora, CO)
          li Green Spaces Festival
        h4 2012 &amp; Earlier
        ul
          li <a href="http://mercurycafe.com/" target="_blank">Mercury Cafe</a> (Denver, CO)
          li <a href="http://www.coloradoshakes.org/" target="_blank">Colorado Shakespeare Festival</a>
          li <a href="http://www.bceproductions.com/twenty-ninth-street-live/" target="_blank">29th Street Live!</a>
          li <a href="http://dickensoperahouse.com/" target="_blank">Dickens Opera House</a>
          li <a href="http://www.dnote.us/" target="_blank">D Note</a> (Arvada, CO)
          li <a href="http://www.thecomfortcafe.net/" target="_blank">Comfort Café</a>
          li <a href="http://thelaughinggoat.com/" target="_blank">Laughing Goat</a> (Boulder, CO)
          li <a href="http://www.leelacafe.com/" target="_blank">Leela's European Café</a>
          li <a href="www.lefthandbrewing.com/" target="_blank">Left Hand Brewery</a> (Longmont, CO)
          li <a href="http://www.pumphousebrewery.com/" target="_blank">Pumphouse Brewery</a>
          li <a href="http://www.road34.com/" target="_blank">Road 34</a>
          li CU Russian Festival
      .content
        block body
    footer Copyright 2015 Gora Gora Orkestar. Website created by <a href="http://www.peterlyons.com" target="_blank">Peter Lyons</a> and <a href="http://www.afterpostmodernism.com" target="_blank">Ian Campbell</a>.
