extends layout
block append body
  h3 UPCOMING SHOWS
  div.upcoming-shows
    div.upcoming-show
      a(href="https://focomx.focoma.org/" target="_blank") FoCoMX
      p April 27, 2019 8:30 PM
      a(href="https://www.facebook.com/TheRecRoomFortCollins") The Rec Room
      a(href="https://www.google.com/maps?cid=8300324778414259762") 23 Old Town Square, Fort Collins, CO 80524
    div.upcoming-show
      a(href="https://www.thewalnutroom.com/") The Walnut Room
      p June 27, 2019 8:00 PM
      p with Guerilla Fanfare and Secondhand Street Band
      a(href="https://goo.gl/maps/Z3H9ZzLQkWF2") 3131 Walnut St, Denver, CO 80205
    div.upcoming-show
      a(href="https://www.westwordshowcase.com/") Westword Music Showcase
      p June 29, 2019
    div.upcoming-show
      a(href="https://www.vailamericadays.com/") Vail America Days Parade
      p July 4, 2019
      a(href="https://goo.gl/maps/HJkfjgnGb7w") Vail, CO
    div.upcoming-show
      a(href="http://www.globevilleorthodoxfoodfestival.org" target="_blank") Orthodox Food Festival & Old Globeville Days (Denver, CO)
      p July 20, 2019
      a(href="https://goo.gl/maps/o8gJxPmQ2wQ2") 349 E 47TH AVE, GLOBEVILLE, DENVER
    div.upcoming-show
      a(href="http://unionstationbuskerfest.com/" target="_blank") Union Station Buskerfest
      p August 2, 2019 8:00 PM
      a(href="https://goo.gl/maps/g1wyFMefDHH2") Union Station, Denver CO
  h3 SELECT PAST SHOWS
  h4 2019
  div.past-shows
    a(href="https://www.finnsmanor.co/" target="_blank") Finn's Manor
    a(href="https://bierstadtlager.com/" target="_blank") Bierstadt Lagerhaus
  h4 2018
  div.past-shows
    a(href="http://mercurycafe.com/" target="_blank") NYE at the Mercury Cafe (Denver, CO)
    a(href="https://www.facebook.com/events/2063465063906730" target="_blank") TEDx Mile High (Denver, CO)
    a(href="https://www.breckbrew.com/visit/littleton" target="_blank") Breckenridge Brewery Oktoberfest (Littleton, CO)
    a(href="https://bierstadtlager.com/" target="_blank") Bierstadt Lagerhaus Oktoberfest (Denver, CO)
    a(href="https://www.facebook.com/events/475806142843077/" target="_blank") Brass Hysteria!! (Denver, CO)
    a(href="https://www.facebook.com/events/2063465063906730" target="_blank") Goosetown Tavern with New Creations Brass Band (Denver, CO)
    a(href="http://www.globevilleorthodoxfoodfestival.org" target="_blank") Orthodox Food Festival &amp; Old Globeville Days (Denver, CO)
    a(href="https://www.westwordshowcase.com/" target="_blank") Westword Music Showcase (Denver, CO)
    a(href="http://boulderdancecoalition.org/index.php" target="_blank") Lion's Lair (Denver, CO)
    a(href="http://boulderdancecoalition.org" target="_blank") Boulder International Festival (Boulder, CO)
    a(href="http://bohemianbiergarten.com" target="_blank") Bohemian Biergarten (Boulder, CO)
    a(href="http://www.goosetowntavern.com" target="_blank") Goosetown Tavern (Denver, CO)
    a(href="https://www.washingtonsfoco.com" target="_blank") Washington's (Fort Collins, CO)
    a(href="http://focomx.focoma.org/" target="_blank") Fort Collins Music Experience (Fort Collins, CO)
    a(href="https://lionslairlounge.squarespace.com/" target="_blank") Lion's Lair (Denver, CO)
    a(href="http://bierstadtlager.com/" target="_blank") Starkbierzeit at Bierstadt (Denver, CO)
    a(href="http://honktx.org" target="_blank") Honk!Tx (Austin, TX)
  h4 2017
  div.past-shows
    a(href="http://mercurycafe.com/" target="_blank") NYE at the Mercury Cafe (Denver, CO)
    a(href="http://bohemianbiergarten.com/" target="_blank") Bohemian Biergarten (Boulder, CO)
    a(href="#" target="_blank") Klezfest (Denver, CO)
    a(href="#" target="_blank") Oktoberfest (Louisville, CO)
    a(href="#" target="_blank") Boulder Pridefest (Carbondale, CO)
    a(href="#" target="_blank") Oktoberfest (Vail, CO)
    a(href="#" target="_blank") FoCo Open Streets (Fort Collins, CO)
    a(href="#" target="_blank") Oktoberfest (Carbondale, CO)
    a(href="https://www.anythinklibraries.org/location/anythink-wright-farms" target="_blank") Anythink Backyard Concert Series (Thornton, CO)
    a(href="http://www.bohemiannights.org/thursday-night-live.html" target="_blank") Thursday Night Live (Fort Collins, CO)
    a(href="#" target="_blank") Denver Arts District First Friday Art Walk
    a(href="http://www.townoffrisco.com/play/frisco-4th-of-july/parade/" target="_blank") Independence Day Parade (Frisco, CO)
    a(href="https://www.vailamericadays.com/" target="_blank") Independence Day Parade (Vail, CO)
    a(href="https://www.denver.org/event/buskerfest/40397" target="_blank") Denver BuskerFest (Denver, CO)
    a(href="http://eagleoutside.com/events/2017-eagle-flight-days/" target="_blank") Eagle Flight Days (Eagle, CO)
    a(href="https://www.glenwoodchamber.com/strawberry-days-festival.html" target="_blank") Strawberry Days Festival (Glenwood Springs, CO)
    a(href="http://www.ogdentheatre.com/events/detail/332880" target="_blank") Sounds of Solidarity (Denver, CO)
    a(href="http://focomx.focoma.org/" target="_blank") FoCo MX (Fort Collins, CO)
    a(href="http://bohemianbiergarten.com/" target="_blank") Bohemian Biergarten (Boulder, CO)
    a(href="http://truefalse.org/program/music" target="_blank") True/False Film Festival (Columbia, MO)
    a(href="#") Women's March on Denver (Denver, CO)
    a(href="#") MLK Marade (Denver, CO)
    a(href="http://mercurycafe.com/" target="_blank") Mercury Cafe (Denver, CO)
  h4 2016
  div.past-shows
    a(href="http://mercurycafe.com/" target="_blank") Mercury Cafe (Denver, CO)
    a(href="http://www.thewhiskeyfc.com/" target="_blank") The Whiskey (Fort Collins, CO)
    a(href="#" target="_blank") Boulder Balkan Bash (Boulder, CO)
    a(href="http://www.visitaurora.com/Events/Fall-Festival" target="_blank") Aurora Fall Festival (Aurora, CO)
    a(href="http://www.bandsintown.com/event/12152516?app_id=squarespace-steve-earle&artist=Steve+Earle&came_from=67" target="_blank") Supporting Steve Earle and Shawn Colvin (Avon, CO)
    a(href="http://downtownfortcollins.com/events/bohemian-nights-at-newwestfest" target="_blank") New West Fest (Fort Collins, CO)
    a(href="http://www.coppercolorado.com/summer/events_and_activities/calendar/1587864805" target="_blank") Macaroni and Cheese Festival (Frisco, CO)
    a(href="https://victoriatavern.com/" target="_blank") The Victoria Tavern (Salida, CO)
    a(href="http://cityoflonetree.com/cms/one.aspx?pageId=1606221" target="_blank") Lone Tree Independence Day (Lone Tree, CO)
    a(href="http://www.vail.com/summer/events/america-days.aspx" target="_blank") Vail America Days Parade (Vail, CO)
    a(href="http://eaglechamber.co/eagle-flight-days-june-26-28/" target="_blank") Eagle Flight Days(Boulder, CO)
    a(href="http://bohemianbiergarten.com/" target="_blank") Bohemian Biergarten (Boulder, CO)
    a(href="http://focomx.focoma.org/" target="_blank") FoCo MX (Fort Collins, CO)
    a(href="http://www.baconandbeerclassic.com/#!denver-co/anxaa" target="_blank") Denver Bacon and Beer Classic (Denver, CO)
    a(href="http://www.bangersaustin.com" target="_blank") Banger's Sausage House & Beer Garden (Austin, TX)
    a(href="http://honktx.org/" target="_blank") Honk!Tx 2016 (Austin, TX)
    a(href="http://truefalse.org/program/music" target="_blank") True/False Film Festival (Columbia, MO)
    a(href="http://www.denver.org/includes/calendar-of-events/Martin-Luther-King-Marade-March-and-Parade-/842/" target="_blank") MLK Marade (Denver, CO)
  h4 2015
  div.past-shows
    a(href="http://www.visitaurora.com/Events/Fall-Festival") Aurora Fall Festival (Aurora, CO)
    a(href="http://honkfest.org/" target="_blank") Honk! Festival (Boston, MA)
    a(href="http://honkfestwest.com/" target="_blank") Honk! Fest West (Seattle, WA)
    a(href="http://nectarlounge.com" target="_blank") Nectar Lounge (Seattle, WA)
    a(href="http://mercurycafe.com/" target="_blank") Mercury Cafe (Denver, CO)
    a(href="http://picknhoe.com/index.html" target="_blank") Dove Creek Pick 'n Hoe (Dove Creek, CO)
    a(href="http://www.opheliasdenver.com/" target="_blank") Ophelia's Electric Soapbox (Denver, CO)
    a(href="http://bohemianbiergarten.com/" target="_blank") Bohemian Biergarten (Boulder, CO)
    a(href="http://www.visitaurora.com/Events/Fall-Festival") Aurora Fall Festival (Aurora, CO)
  h4 2014
  div.past-shows
    a(href="http://honkfestwest.com/" target="_blank") Honk! Fest West (Seattle, WA)
    a(href="http://www.studioseven.us/" target="_blank") Studio 7 (Seattle, WA)
    a(href="http://halesbrewery.com/" target="_blank") Hale's Palladium (Seattle, WA)
    a(href="http://themixseattle.com/" target="_blank") The Mix (Seattle, WA)
    a(href="http://nectarlounge.com" target="_blank") Nectar Lounge (Seattle, WA)
    a(href="http://www.analogpdx.com/" target="_blank") Analog Cafe (Portland, OR)
    a(href="http://www.honktx.org/" target="_blank") Honk! TX (Austin, TX)
    a(href="http://spiderhousecafe.com/" target="_blank") Spider House Cafe (Austin, TX)
    a(href="http://www.snackbaraustin.com/" target="_blank") Snack Bar (Austin, TX)
    a(href="http://www.trudys.com/" target="_blank") Trudy's (Austin, TX)
    a(href="http://www.theums.com/" target="_blank") Underground Music Showcase (Denver, CO)
    a(href="http://tasteoffortcollins.com/" target="_blank") Taste Of Fort Collins (Fort Collins, CO)
    a(href="http://www.atasteofcolorado.com/" target="_blank") Taste Of Colorado (Denver, CO)
    a(href="http://www.meadowlarkbar.com/" target="_blank") The Meadowlark (Denver, CO)
    a(href="http://bohemianbiergarten.com/" target="_blank") Bohemian Biergarten (Boulder, CO)
    a(href="http://www.hornetrestaurant.com" target="_blank") The Hornet (Denver, CO)
    a(href="http://www.themarquistheatre.com/" target="_blank") The Marquis Theater (Denver, CO)
    a(href="http://www.waterloolouisville.com" target="_blank") The Waterloo (Louisville, CO)
    a(href="http://www.anythinklibraries.org/backyard-concert-series" target="_blank") Anythink Backyard Concert Series (Brighton, CO)
    a(href="#") Orthodox Food Festival (Denver, CO)
    a(href="http://www.visitaurora.com/Events/Fall-Festival") Aurora Fall Festival (Aurora, CO)
  h4 2013
  div.past-shows
    a(href="http://honkfest.org/" target="_blank") Honk! Fest (Boston, MA)
    a(href="http://www.honktx.org/" target="_blank") Honk! TX (Austin, TX)
    a(href="http://www.austintheatre.org" target="_blank") Paramount Theater (Austin, TX)
    a(href="https://www.facebook.com/volsteadlounge" target="_blank") Volstead Lounge (Austin, TX)
    a(href="http://spiderhousecafe.com/" target="_blank") Spider House Cafe (Austin, TX)
    a(href="http://russianhouseofaustin.com/" target="_blank") Russian House (Austin, TX)
    a(href="http://www.snackbaraustin.com/" target="_blank") Snack Bar (Austin, TX)
    a(href="http://www.trudys.com/" target="_blank") Trudy’s (Austin, TX)
    a(href="http://www.theums.com/" target="_blank") Underground Music Showcase (Denver, CO)
    a(href="http://www.theorientaltheater.com/event/132453" target="_blank") Northwest Denver Folk Festival (Denver, CO)
    a(href="http://www.bceproductions.com/boulder-creek-festival/" target="_blank") Boulder Creek Festival (Boulder, CO)
    a(href="http://www.denverstpatricksdayparade.com/" target="_blank") Denver St. Patrick’s Day Parade (Denver, CO)
    a(href="http://mercurycafe.com/" target="_blank") Mercury Cafe (Denver, CO)
    a(href="http://www.thewalnutroom.com/" target="_blank") Walnut Room (Denver, CO)
    a(href="http://bohemianbiergarten.com/" target="_blank") Bohemian Biergarten (Boulder, CO)
    a(href="http://www.theorientaltheater.com/" target="_blank") The Oriental Theater (Denver, CO)
    a(href="http://www.villageartscoalition.org/" target="_blank") Village Arts Coalition Festival (Boulder, CO)
    a(href="#") Orthodox Food Festival (Denver, CO)
    a(href="http://www.visitaurora.com/Events/Fall-Festival") Aurora Fall Festival (Aurora, CO)
    a(href="#") Green Spaces Festival
  h4 2012 &amp; Earlier
  div.past-shows
    a(href="http://honkfest.org/" target="_blank") Honk! Fest (Boston, MA)
    a(href="https://www.redbones.com/" target="_blank") Redbones (Boston, MA)
    a(href="http://mercurycafe.com/" target="_blank") Mercury Cafe (Denver, CO)
    a(href="http://www.coloradoshakes.org/" target="_blank") Colorado Shakespeare Festival (Boulder, CO)
    a(href="http://www.bceproductions.com/twenty-ninth-street-live/" target="_blank") 29th Street Live!
    a(href="http://dickensoperahouse.com/" target="_blank") Dickens Opera House (Longmont, CO)
    a(href="http://www.dnote.us/" target="_blank") D Note (Arvada, CO)
    a(href="http://www.thecomfortcafe.net/" target="_blank") Comfort Café
    a(href="http://thelaughinggoat.com/" target="_blank") Laughing Goat (Boulder, CO)
    a(href="http://www.leelacafe.com/" target="_blank") Leela's European Café
    a(href="www.lefthandbrewing.com/" target="_blank") Left Hand Brewery (Longmont, CO)
    a(href="http://www.pumphousebrewery.com/" target="_blank") Pumphouse Brewery
    a(href="http://www.road34.com/" target="_blank") Road 34
    a(href="#") CU Russian Festival
